<!--
    This page is just before the signup page to welcome and notify them about the terms and agreement
-->
<template>
<f7-page style="background-color: black;">
    <f7-navbar style="background-color:black;">
        <f7-nav-left>
            <f7-link 
                icon-material="home"
                @click="$f7.router.navigate('/')">
            </f7-link>
        </f7-nav-left>
    </f7-navbar>
    <div class="logo">
        <img src="../../assets/images/LOGO_v2.png" />
    </div>
    <br>
    <div class="disclaimer">
        <p>Thank you for joining the <b>ECOTRACK</b> army!</p>
        <p>Once you proceed, you will just need to enter your <u>email address</u> to get started.</p>
        <p>What are you waiting for? <b>Click</b> below to get started!</p>
    </div><br>
    <div class="button-box">
        <a href="#"
            color="green"
            class="button button-big"
            style="font-size: 14pt !important; margin-bottom: 20px; margin-left: 40px; margin-right: 40px;"
            @click="$f7router.navigate('/signup')"><b>Join Ecotrack</b></a>
    </div>
</f7-page>
</template>
<script>
export default {};
</script>
<style lang="scss" scoped>
.logo {
    // margin-top: 30px;
    padding: 30px 0 0 0;
    text-align: center;
    img {
        width: 300px;
    }
}

.disclaimer {
    color: white;
    padding: 20px 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button-box {
    padding: 0 30px;
}

.button {
    color: #d1e5c1 !important;
    background: #015400;
}
</style>
