<template>
<f7-page style="overflow: hidden;">
    <f7-navbar>
        <!-- <f7-nav-left>
            <f7-link back
                icon="icon icon-back"
                @click="onExitMap"></f7-link>
        </f7-nav-left> -->
        <div class="title">Select your property</div>
    </f7-navbar>
    <div ref="map"
        style="height: 100%"></div>

</f7-page>
</template>
<script>
import ol from 'openlayers';

export default {
    data() {
        return {
            context: null
        };
    },
    created() {
        console.log('chega meu bem');
        this.context = this.$f7route.context;
    },
    mounted() {
        let onlineLayer = new ol.layer.Tile({
            source: new ol.source.OSM()
        });
        let layers = [onlineLayer];
        let nz = [174.76667, -36.86667];
        this.map = new ol.Map({
            layers,
            target: this.$refs.map,
            view: new ol.View({
                center: ol.proj.fromLonLat(nz),
                zoom: 17
            })
        });
    }
};
</script>
