<!--
    This page allows the user to signup quickly by entering their email address so that they can complete the form later
-->
<template>
<f7-page style="background-color: #1E2024;">
    <f7-navbar style="background-color: black;">
        <div class="left">
            <f7-link back
                icon-material="arrow_back"
                class="top-left-icon"></f7-link>
        </div>
        <div class="title">Ecotrack</div>
    </f7-navbar>
    <div id="map" style="height: 60%">
            <iframe id="ourMap" width="100%" height="100%" src="https://api.maptiler.com/maps/f27e0353-147b-40b7-bef9-3536b4a1eb51/?key=8glFl8cMrAW6iprxKJnm#14.02/"></iframe>
            <!--Sets maps coorinates to the general look of AUckland -->
    </div>
    
    <div class="list no-hairlines-md">
        <p style="text-align: center; color: white; text-size: 18px;"> Please enter your email address:</p>
        <div class="item-content item-input">
            
            <div class="item-inner">
                <div class="item-title item-label"><b></b>
                    <span class="required">*</span>
                </div>
                <div class="item-input-wrap" styles="color:white;">
                    <input  type="email"
                        placeholder="eg. Johndoe@gmail.com"
                        v-model="email"
                        style="color: white; border: 2px solid white">
                    <span class="input-clear-button"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="">
        <a href="#"
            class="button bold"
            style="font-size: 20px;"
            @click="$f7.router.navigate('/map')"    
            >Confirm your email</a>
            <!--this takes the user to the map
                Checking if valid was not implemented
                because of database no working -->
    </div>
</f7-page>
</template>

<script>
import AccountAPI from '@/api/account';

export default {
    data() {
        return {
            firstName: null,
            lastName: null,
            mobile: null,
            email: null,
            password1: null,
            password2: null,
        };
    },
    methods: {
        testLocation() // Testing is this function located our current position. It works.
        {            
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(position => {  // This locates our current position using a geolocation feature.
                    this.position = position.coords;
                    document.getElementById("ourMap").src = "https://api.maptiler.com/maps/f27e0353-147b-40b7-bef9-3536b4a1eb51/?key=8glFl8cMrAW6iprxKJnm#16.02/"
                     + position.coords.latitude + "/" + position.coords.longitude; 
                    document.getElementById("tester").innerHTML = "tester";
                });
            }
        },
        validate() {     //Validates whether each part in signup is valid and has been added in.
            let isValid = true;
            if (!this.firstName) {
                this.$f7.dialog.alert('Please provide your first name');
                isValid = false;
            } else if (!this.lastName) {
                this.$f7.dialog.alert('Please provide your last name');
                isValid = false;
            } else if (!this.mobile) {
                this.$f7.dialog.alert('Please provide your mobile number');
                isValid = false;
            } else if (!this.password1) {
                this.$f7.dialog.alert('Please provide a password');
                isValid = false;
            } else if (this.password1 !== this.password2) {
                this.$f7.dialog.alert('Your passwords do not match');
                isValid = false;
            }
            return isValid;
        },
        create() {
            if (!this.validate()) {
                this.$f7.preloader.show();
                let data = {                    
                    email: this.email,
                };

                AccountAPI.signUp(data)
                    .then(response => {
                        console.log('aqui 1');
                        if (response.success) {
                            console.log('aqui 2');
                            let context = {
                                message: 'Your logon has been successfully created',
                                username: this.email,
                                password: this.password1,
                                newId: response.newId
                            };
                            this.$f7.router.navigate('/select-code', { context });
                        } else {
                            console.log('aqui 3');
                            this.$f7.dialog.alert(response.message);
                        }
                        console.log('aqui 4');
                    })
                    .catch(() => {
                        this.$f7.dialog.alert('An internal server error occurred');
                    })
                    .then(() => {
                        this.$f7.preloader.hide();
                    });
            }
        }
    }
};
</script>

<style lang="scss" scoped>
.item-title{
    color: white;
}

.required {
    color: red;
    font-weight: bold;
}
</style>
