<template>
<f7-page>       
    <p style="font-size: 24px; margin-left: 20px; color:rgb(100, 225,0);"> <b>Main Menu</b> </p>
    <f7-list class="padding: 20px 20px;">
        <f7-list-item title="Home"
            link="/"
            panel-close>
            <div slot="media">
                <f7-icon material="home"></f7-icon>
            </div>
        </f7-list-item>
        <div>
        </div>
        <f7-list-item title="Map"
            link="/map"
            panel-close>
            <div slot="media">
                <f7-icon material="satellite"></f7-icon>
            </div>
        </f7-list-item>
        <f7-list-item title="Profile"
            link="/profile"
            panel-close>
            <div slot="media">
                <f7-icon material="person_round"></f7-icon>
            </div>
        </f7-list-item>
        <f7-list-item title="About Us"
            link=""
            panel-close>
            <div slot="media">
                <f7-icon material="satellite"></f7-icon>
            </div>
        </f7-list-item>
        <f7-list-item title="Logout"
            link="/"
            panel-close>
            <div slot="media">
                <f7-icon material="exit_to_app"></f7-icon>
            </div>
        </f7-list-item>
    </f7-list>

    <template v-for="gallery in galleries">
        <f7-block-title>{{ gallery.name }}</f7-block-title>
        
        <f7-list>
            <!-- <f7-list-item link="/form/" title="Form" panel-close></f7-list-item> -->

            <f7-list-item v-for="item in gallery.items"
                :key="item.formId"
                :link="`/search-results/${gallery.name}/${item.form}/${item.formId}`"
                :title="item.form"
                panel-close>
                <div slot="media">
                    <f7-icon material="list"></f7-icon>
                </div>
            </f7-list-item>
        </f7-list>
    </template>
</f7-page>
</template>

<script>
import { mapState } from 'vuex';

export default {
    computed: mapState(['galleries']),
    methods: {
        onExitAppClicked() {
            if (navigator.app) {
                navigator.app.exitApp();
            } else if (navigator.device) {
                navigator.device.exitApp();
            } else {
                window.close();
            }
        }
    }
};
</script>
