<template>
<f7-page>
    <f7-navbar title="Add a pest to the map"
        sliding></f7-navbar>
    <f7-list v-if="references">
        <f7-list-item v-for="item in references"
            :key="item.id"
            :title="item.name"
            @click="referenceClicked(item)"></f7-list-item>
    </f7-list>
</f7-page>
</template>

<script>
import { mapState } from 'vuex';
import ButtonHelper from '@/helpers/buttons';

export default {
    computed: mapState(['references']),
    methods: {
        referenceClicked(item) {
            if (item.action === 'TakePhoto') {
                ButtonHelper.runAction(this.references.form, item);
            } else if (item.action === 'New Record') {
                this.$f7.router.navigate(`/form/${item.id}`);
            } else if (item.action === 'Load Location') {
                if (item.location) {
                    this.$f7.router.navigate(`/form/${item.id}`, { context: item });
                } else {
                    this.$f7.router.navigate(`/form/${item.id}`);
                }
            } else {
                item.viewmodel = {
                    id: this.references.form.viewmodel.id,
                    recordName: this.references.form.viewmodel.recordName
                };
                this.$f7.router.navigate(`/form/${item.id}`, { context: item });
            }
            this.$f7.panel.close('right');
        }
    }
};
</script>
