<template>
<div class="card attachment">
    <div class="card-header">Attached files:</div>
    <div class="card-content">
        <div class="list-block media-list">
            <ul>
                <li v-for="(attachment, index) in attachments"
                    class="item-content">
                    <div class="item-media">
                        <img :src="attachment.uri" />
                    </div>
                    <div class="item-inner">
                        <div class="item-title-row">
                            <div class="item-title">{{ attachment.filename }}</div>
                        </div>
                        <div class="item-subtitle">{{ friendlyDates[index] }}</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</template>

<script>
import moment from 'moment';

export default {
    props: ['attachments'],
    data() {
        return {
            timer: null,
            friendlyDates: []
        };
    },
    created() {
        this.timer = setInterval(this.updateFriendlyDates, 2000);
    },
    destroyed() {
        clearInterval(this.timer);
    },
    methods: {
        updateFriendlyDates() {
            if (Array.isArray(this.attachments)) {
                let now = Date.now();
                this.friendlyDates = this.attachments.map(x => moment(x.date).from(now));
            }
        }
    }
};
</script>

<style lang="scss" scoped>
img {
    width: 44px;
    height: 44px;
}
</style>
