<template>
<f7-list form
    class="no-hairlines">
    <template v-for="(control, index) in controls"
        v-if="controlVisible(control, inputMode)">

        <!--
           # Label
        -->
        <li v-if="control.type === 'Label'"
            class="label-control">
            <div class="item-content">
                <div class="item-inner no-hairlines">
                    <div class="item-title"> {{ control.label }} </div>
                </div>
            </div>
        </li>
        <!--
           # CheckBox
        -->
        <li v-else-if="control.type === 'CheckBox'"
            @click="onCheckboxClicked(control)">
            <label class="label-checkbox item-content">
                <input type="checkbox"
                    :name="`chk-${control.id}`"
                    value="1"
                    v-model="control.value"
                    :disabled="control.disabled || !inputMode">
                <div class="item-media item-media-checkbox">
                    <i class="icon icon-form-checkbox"></i>
                </div>
                <div class="item-inner">
                    <div class="item-title item-title-checkbox">{{ control.label }}</div>
                </div>
            </label>
        </li>
        <!--
           # Stepper
        -->
        <li v-else-if="control.type === 'Stepper'"
            class="has-icon">

            <control-icon :type="control.type"></control-icon>

            <div class="item-inner">
                <div class="item-title">{{ control.label }}</div>
                <div class="item-after">
                    <!-- <f7-stepper :buttons-only="true"
                        small
                        raised
                        slot="after"
                        @stepper:change="control.value = $event"></f7-stepper> -->

                    <div class="stepper stepper-fill"
                        autorepeat="true"
                        wraps="true"
                        decimal-point="2">
                        <div :class="{'stepper-button-minus': inputMode, 'stepper-button-disabled': !inputMode}"
                            @click="stepperMinusClicked(control)"></div>
                        <div class="stepper-input-wrap">
                            <input type="number"
                                v-model="control.value"
                                :disabled="control.disabled || !inputMode">
                        </div>
                        <div :class="{'stepper-button-plus': inputMode, 'stepper-button-disabled': !inputMode}"
                            @click="stepperPlusClicked(control)"></div>
                    </div>
                </div>
            </div>
        </li>

        <!--
           # Position

           Position has two controls on the backend: latitude and longitude. It displays a single control. It uses
           latitude for reference.
        -->
        <li v-else-if="control.type === 'Position' && control.name === 'Latitude'"
            class="has-icon item-content item-input">

            <div class="position-button"
                @click="inputMode ? onGetPositionClicked() : null">
                <i :class="{icon: true, 'material-icons': true, disabled: !inputMode}">place</i>
            </div>

            <div class="item-inner">
                <div class="item-title label"
                    v-if="inputMode">
                    Click the drop pin to get GPS
                    <span class="required-star">*</span>
                </div>
                <div class="item-title label"
                    v-else>Location</div>
                <div class="item-input-wrap">
                    <input disabled
                        type="text"
                        v-model="position"
                        placeholder="Position not set yet">
                </div>
            </div>
        </li>
        <!--
           # Other controls

           It excludes 'Longitude' control because it's handled by Position
        -->
        <li v-else-if="!(control.type === 'Position' && control.name === 'Longitude')"
            :class="{required : showRequired && isRequired(control), 'item-content': true, 'item-input': true, 'has-icon': true }">

            <control-icon :type="control.type"></control-icon>

            <div class="item-inner">
                <div class="item-title label"
                    @click="setFocus(index)">
                    {{ control.label }}
                    <span v-if="control.required"
                        class="required-star">*</span>
                </div>
                <div class="item-input-wrap"
                    :data-index="index"
                    ref="controlElements">

                    <select v-if="control.type === 'DropDownList'"
                        v-model="control.value"
                        :disabled="control.disabled || !inputMode">
                        <option style="display: none;"
                            value=""></option>
                        <option v-for="option in control.options"
                            :value="option">{{ option }}</option>
                    </select>

                    <select v-else-if="control.type === 'RoleDropDown'"
                        v-model="control.value"
                        :disabled="control.disabled || !inputMode"
                        @change="onRoleDropDownChange($event, control)">
                        <option style="display: none;"
                            value=""></option>
                        <option v-for="option in control.options"
                            :value="option.name">{{ option.name }}</option>
                    </select>

                    <input v-else-if="control.type === 'DatePicker'"
                        type="date"
                        v-model="control.value"
                        :disabled="control.disabled || !inputMode" />

                    <input v-else-if="control.type === 'DateTimePicker'"
                        type="datetime"
                        v-model="control.value"
                        :disabled="control.disabled || !inputMode" />

                    <input v-else
                        type="text"
                        name="name"
                        v-model="control.value"
                        :placeholder="control.placeholder"
                        :disabled="control.disabled || !inputMode">
                </div>
            </div>
        </li>
    </template>
</f7-list>
</template>

<script>
import ControlIcon from './control-icon';

export default {
    components: {
        ControlIcon
    },
    props: ['controls', 'mode', 'showRequired'],
    methods: {
        controlVisible(control, inputMode) {
            let types = ['CheckBox', 'Label', 'Stepper'];
            return types.includes(control.type) || inputMode || control.value;
        },
        isRequired(control) {
            let flag = false;
            if (control.required) {
                if (!(control.value || control.value === false || control.value === 0)) {
                    flag = true;
                }
            }
            return flag;
        },
        onCheckboxClicked(control) {
            if (this.inputMode) {
                control.value = !control.value;
            }
        },
        onRoleDropDownChange(event, control) {
            let selectedIndex = event.target.selectedIndex - 1;
            let selectedOption = control.options[selectedIndex];
            control.thingId = selectedOption.id;
        },
        onGetPositionClicked() {
            this.$emit('get-position');
        },
        setFocus(index) {
            this.$refs.controlElements.forEach(el => {
                if (el.dataset.index == index) { // eslint-disable-line
                    let input = el.getElementsByTagName('input')[0];
                    if (input) {
                        input.focus();
                    }
                }
            });
        },
        stepperPlusClicked(control) {
            if (this.inputMode) {
                control.value = (parseInt(control.value, 10) || 0) + 1;
            }
        },
        stepperMinusClicked(control) {
            if (this.inputMode) {
                let value = (parseInt(control.value, 10) || 0) - 1;
                control.value = value > 0 ? value : 0;
            }
        }
    },
    computed: {
        inputMode() {
            return this.mode === 'new' || this.mode === 'edit';
        },
        position() {
            let lat = this.controls.find(c => c.name === 'Latitude').value;
            let long = this.controls.find(c => c.name === 'Longitude').value;
            if (lat && long) {
                return `(${lat}, ${long})`;
            }
            return null;
        }
    }
};
</script>

<style lang="scss" scoped>
$label-size: 14px;

input,
select {
    color: black;
}

[disabled] {
    opacity: 1;
}

.item-inner.no-hairlines::after {
    height: 0;
}

.required {
    background: lightyellow;
}

.required-star {
    color: red;
    font-weight: bolder;
}

.position-button {
    position: absolute;
    left: 0;
    bottom: 10px;

    i.material-icons {
        font-size: 40px;
        margin-left: 3px;
        color: #2196f3;

        &.disabled {
            color: #d0d0d0;
            opacity: 1;
        }
    }
}

li.has-icon {
    padding-left: 50px !important;
    // background: red;
}

.item-title-checkbox {
    margin-top: 7px;
    margin-left: -14px;
    color: rgba(0,0,0,.65);
}

.item-title.label {
    font-size: $label-size;
}

.item-media-checkbox {
    min-width: 30px;
    margin-left: -2px;
}

.list-block .item-title {
    white-space: normal;
}

.label-control {
    background: whitesmoke;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    color: #2196f3;

    .item-title {
        font-size: 20px;
    }
}
</style>
