<template>
<img :src="icon" />
</template>

<script>
export default {
    props: ['type'],
    data() {
        return {
            icons: {
                DatePicker: require('@/assets/images/calendar.svg'),
                DateTimePicker: require('@/assets/images/calendar.svg'),
                DropDownList: require('@/assets/images/list.svg'),
                Stepper: require('@/assets/images/number.svg'),
                RoleDropDown: require('@/assets/images/role.svg'),
                TextBox: require('@/assets/images/textbox.svg'),
            }
        };
    },
    computed: {
        icon() {
            return this.icons[this.type] ? this.icons[this.type] : this.icons['TextBox'];
        }
    }
};
</script>

<style lang="scss" scoped>
img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 48px;
}
</style>
