<template>
<f7-page ref="formElement">
    <div class="navbar shadowless overflow-navbar">
        <div class="navbar-inner sliding">
            <div class="left">
                <f7-link back
                    icon-material="arrow_back"
                    class="top-left-icon"></f7-link>
            </div>
            <div class="title">{{ formTitle }}</div>
            <div class="right">
                <template v-for="button in viewmodel.buttons"
                    v-if="showButton(button, mode)">
                    <f7-link v-if="button.action === 'Save' || button.action === 'Edit'"
                        class="text-button"
                        :key="button.action"
                        @click="buttonClicked(button)">{{button.action}}</f7-link>

                    <f7-link v-else
                        :key="button.action"
                        :icon-material="getButtonIcon(button.action)"
                        @click="buttonClicked(button)"></f7-link>
                </template>
            </div>
            <div v-if="viewmodel.mainViewButton && mode === 'view'"
                class="main-button"
                @click="buttonClicked(viewmodel.mainViewButton)">
                <f7-icon :material="getButtonIcon(viewmodel.mainViewButton.action)"></f7-icon>
            </div>
            <div v-if="viewmodel.mainEditButton && mode !== 'view'"
                class="main-button"
                @click="buttonClicked(viewmodel.mainEditButton)">
                <f7-icon :material="getButtonIcon(viewmodel.mainEditButton.action)"></f7-icon>
            </div>
        </div>
    </div>

    <tabs :tabs="viewmodel.tabs"
        @click="onTabClicked"></tabs>

    <div class="spacer"></div>

    <div v-for="(tab, index) in viewmodel.tabs"
        v-show="index === selectedTab">
        <template v-if="tab.name !== 'Map'">
            <controls :controls="tab.controls"
                :show-required="showRequired"
                :mode="mode"
                @get-position="onGetPosition"></controls>

            <grid :grid="tab.grid"
                @row-clicked="onGridRowClicked($event)"></grid>
        </template>
        <template v-else>
            <map-control v-if="index === selectedTab"
                :position="position"
                :legend="viewmodel.legend"
                :code="viewmodel.pointCode"
                :status="status"
                :mode="mode"
                :data="tab.map"
                @position-changed="onPositionChanged"></map-control>
        </template>
    </div>

    <!-- attachments have a built-in timer  -->
    <attachments v-if="viewmodel.attachments && viewmodel.attachments.length > 0"
        :attachments="viewmodel.attachments"></attachments>
</f7-page>
</template>

<script>
import ButtonHelper from '@/helpers/buttons';
import ViewModelHelper from '@/helpers/viewmodel';
import MapHelper from '@/helpers/map';
// Form components:
import tabs from './tabs';
import controls from './controls';
import mapControl from './map-control';
import grid from './grid';
import attachments from './attachments';

export default {
    props: ['initialData'],
    components: {
        tabs,
        controls,
        grid,
        attachments,
        mapControl
    },
    data() {
        return {
            mode: null,
            showRequired: false,
            viewmodel: null,
            selectedTab: 0,

            latitudeControl: null,
            longitudeControl: null
        };
    },
    created() {
        this.viewmodel = this.$f7route.context.viewmodel;
        this.mode = this.viewmodel.id === '0' ? 'edit' : 'view';
        this.latitudeControl = ViewModelHelper.findControl(this.viewmodel, c => c.name === 'Latitude');
        this.longitudeControl = ViewModelHelper.findControl(this.viewmodel, c => c.name === 'Longitude');
        if (this.latitudeControl && this.longitudeControl) {
            if (this.$f7route.context.location) {
                let position = this.$f7route.context.location;
                this.latitudeControl.value = position.latitude;
                this.longitudeControl.value = position.longitude;
            } else if (this.viewmodel.id === '0') {
                MapHelper.getCurrentPosition().then(position => {
                    this.latitudeControl.value = position.coords.latitude;
                    this.longitudeControl.value = position.coords.longitude;
                });
            }
        }
        if (this.viewmodel.reference) {
            this.loadReference(this.viewmodel.reference);
            this.runReferenceAction(this.viewmodel.reference);
        }
    },
    methods: {
        onTabClicked(selectedTab) {
            this.selectedTab = selectedTab;
        },
        runAction(item) {
            ButtonHelper.runAction(this, item);
        },
        showButton(button, mode) {
            return button.modes.indexOf(mode) > -1;
        },
        getButtonIcon(action) {
            return ButtonHelper.getButtonIcon(action);
        },
        buttonClicked(button) {
            this.runAction(button);
        },
        loadReference(reference) {
            let control = ViewModelHelper.findControl(this.viewmodel, c => c.id === reference.targetId);
            control.value = reference.viewmodel.recordName;
            control.thingId = reference.viewmodel.id;
        },
        runReferenceAction(reference) {
            if (reference.action) {
                this.runAction(reference);
            }
        },
        onGridRowClicked(id) {
            this.$f7.router.navigate(`/record/${id}`);
        },
        onGetPosition() {
            ButtonHelper.runAction(this, { action: 'GetLocation' });
        },
        onPositionChanged(position) {
            if (this.latitudeControl && this.longitudeControl) {
                this.latitudeControl.value = position.latitude;
                this.longitudeControl.value = position.longitude;
            }
        }
    },
    computed: {
        formTitle() {
            return this.viewmodel.id === '0' ? '' : this.viewmodel.recordName;
        },
        position() {
            if (this.latitudeControl && this.longitudeControl) {
                return {
                    latitude: this.latitudeControl.value,
                    longitude: this.longitudeControl.value
                };
            }
            return null;
        },
        status() {
            let control = ViewModelHelper.findControl(this.viewmodel, c => c.name === 'ThingStatusID');
            return control.value;
        }
    },
};
</script>

<style lang="scss">
$main-button-color: #3ADCF6;
$main-button-size: 60px;

.navbar {
    position: fixed;
    z-index: 9999;

    .right {
        // margin-right: 20px;
    }
}

.navbar.shadowless::after {
    height: 0;
}

.tabbar {
    position: fixed;
}

.top-left-icon {
    padding-left: 12px !important;
    padding-right: 12px !important;
}

.form-title {
    margin-left: 0 !important;
}

.spacer {
    height: 100px;
}

.text-button {
    font-size: 14px;
    text-transform: uppercase;
}

.overflow-navbar .navbar-inner {
    overflow: visible;

    .main-button {
        position: fixed;
        top: 80px;
        right: 20px;
        background: $main-button-color;
        width: $main-button-size;
        height: $main-button-size;
        border-radius: $main-button-size / 2;
        z-index: 9999;
        color: white;
        box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);

        .icon {
            text-align: center;
            width: $main-button-size;
            line-height: $main-button-size;
        }
    }
}
</style>
