<template>
<div v-if="grid && grid.rows.length > 0">
    <f7-block-title>{{ grid.name }}</f7-block-title>

    <f7-list>
        <f7-list-item v-for="row in grid.rows"
            :link="`/record/${row.id}`"
            :key="row.id"
            :title="row.record || 'undefined'"
            :after="row.form"></f7-list-item>
    </f7-list>
</div>
</template>

<script>
export default {
    props: ['grid'],
    methods: {
        rowClicked(id) {
            this.$emit('row-clicked', id);
        }
    }
};
</script>
