<template>
<div ref="map">
</div>
</template>
<script>
import ol from 'openlayers';
import config from 'config';
import MapHelper from '@/helpers/map';

export default {
    props: ['position', 'legend', 'status', 'mode', 'code', 'data'],
    data() {
        return {
            map: null,
            currentLocationStyle: null,
            currentLocationVectorSource: null
        };
    },
    mounted() {
        let color = '#000';
        if (this.status && Array.isArray(this.legend)) {
            let legend = this.legend.find(l => l.legend === this.status);
            if (legend) {
                color = legend.color;
            }
        }
        if (this.code) {
            this.currentLocationStyle = new ol.style.Style({
                image: new ol.style.Icon(({
                    crossOrigin: 'anonymous',
                    src: `${config.markerURL}/${color}/${this.code}`
                }))
            });
        } else {
            this.currentLocationStyle = new ol.style.Style({
                image: new ol.style.Icon(({
                    color,
                    crossOrigin: 'anonymous',
                    src: 'https://openlayers.org/en/v4.6.4/examples/data/dot.png'
                }))
            });
        }
        this.currentLocationVectorSource = new ol.source.Vector();
        let vectorLayer1 = new ol.layer.Vector({
            source: this.currentLocationVectorSource
        });
        let onlineLayer = new ol.layer.Tile({
            source: new ol.source.OSM()
        });
        let layers = [onlineLayer, vectorLayer1];
        let center = [174.76667, -36.86667];
        this.map = new ol.Map({
            layers,
            target: this.$refs.map,
            view: new ol.View({
                center: ol.proj.fromLonLat(center),
                zoom: 17
            })
        });
        if (this.position && this.position.latitude && this.position.longitude) {
            let point = ol.proj.fromLonLat([parseFloat(this.position.longitude), parseFloat(this.position.latitude)]);
            this.map.getView().setCenter(point);
            this.addPoint(point);
        }
        if (this.data && Array.isArray(this.data.polygons) && this.data.polygons.length > 0) {
            this.loadPolygons(this.data.polygons);
        }
        this.map.on('click', event => {
            if (this.mode === 'edit') {
                let longLat = ol.proj.transform(event.coordinate, 'EPSG:3857', 'EPSG:4326');
                this.$emit('position-changed', { latitude: longLat[1], longitude: longLat[0] });
                this.currentLocationVectorSource.clear();
                let point = ol.proj.fromLonLat(longLat);
                this.addPoint(point);
            }
        });
        // MapHelper.getCurrentPosition().then(position => {
        //     let point = ol.proj.fromLonLat([position.coords.longitude, position.coords.latitude]);
        //     this.map.getView().setCenter(point);
        // });
        setTimeout(() => {
            this.map.updateSize();
        }, 1000);
    },
    methods: {
        addPoint(point) {
            let feature = new ol.Feature({
                geometry: new ol.geom.Point(point)
            });
            feature.setStyle(this.currentLocationStyle);
            this.currentLocationVectorSource.addFeature(feature);
        },
        loadPolygons(polygons) {
            console.log(polygons);

            let polys = [];
            polygons.forEach(p => {
                let data = MapHelper.parseCoordinates(p.value);
                polys.push(data);
            });
            let feature = new ol.Feature({
                geometry: new ol.geom.Polygon(polys)
            });
            feature.getGeometry().transform('EPSG:4326', 'EPSG:3857');
            this.currentLocationVectorSource.addFeature(feature);
            let extent = feature.getGeometry().getExtent();
            this.map.getView().fit(extent, this.map.getSize());
        }
    }
};
</script>
<style scoped lang="scss">
div {
    // border: 2px solid red;
    position: fixed;
    bottom: 0;
    top: 100px;
    left: 0;
    right: 0;

}
</style>
