<template>
<div class="toolbar tabbar">
    <div class="toolbar-inner">
        <a v-for="(tab, index) in tabs"
            v-if="!tab.hidden"
            href="#"
            :class="{'tab-link': true, active: index === selectedTab}"
            @click="onTabClicked(index)">{{ tab.name }}</a>
    </div>
    <span class="tab-link-highlight"
        :style="hightlightStyle"></span>
</div>
</template>

<script>
export default {
    props: ['tabs'],
    data() {
        return {
            selectedTab: 0
        };
    },
    computed: {
        hightlightStyle() {
            let length = this.tabs.filter(t => !t.hidden).length;
            let transform = 0;
            for (let i = 0; i < this.selectedTab; i++) {
                if (!this.tabs[i].hidden) {
                    transform++;
                }
            }
            return {
                width: `${100 / length}%`,
                transform: `translate3d(${transform * 100}%, 0px, 0px)`
            };
        }
    },
    methods: {
        onTabClicked(index) {
            this.selectedTab = index;
            this.$emit('click', index);
        }
    }
};
</script>
