<!--
      This is the page that will load first. It is known as the homepage.
-->
<template class="page">
<f7-page style="background-color:black;">       
    <br>
    <div class="logo">
        <img src="../assets/images/LOGO_v2.png" />
    </div>  
    <div class="content-block">
        <img  class="backgroundImage" src="../assets/images/holoSpinEarth.gif">
        <div class="button-container">
            <!-- These are the buttons which naviagate the user accordingly -->
            <img src="../assets/images/signInBtn.png" class="buttons" @click="$f7.router.navigate('/loginpage')"/>
            <img src="../assets/images/previewAppbtn.png" class="buttons" @click="$f7.router.navigate('/map')"/>
            <img src="../assets/images/createAccBtn.png" class="buttons" @click="$f7.router.navigate('/disclaimer')" style=""/>
        </div>
    </div>       
    <div class="version">
        v. {{ version }}
    </div>
</f7-page>
</template>

<style lang="scss" scoped>
// .no-navbar {
//     margin-top: -30px;
// }

* {
    font-size: 17pt !important;
}
.page {
    overflow: hidden;
}
.button-container {
    position: absolute;
    top:30%;
    bottom: 20%;
    left: auto;
    right: auto;
    text-align: center;
    //border-style:solid;
    //border-color: green;    
}
.backgroundImage{
    position: absolute;
    margin: auto;
    overflow:hidden;
    right: 20%;
    left: 10%;
    //border-style:solid;
    //border-color: yellow; 
    height: 400px;
    width: 700px;   
    opacity: 1;   
}
.buttons {
    display:relative;
    height: 140px;
    width: 300px;
    margin-left:auto;
    margin-right: auto;   
    margin-top: 1%;
    margin-bottom: -5%; 
}
.button_style {
    font-size: 16pt !important; 
    margin-top: 15px; 
    margin-bottom:30px; 
    border-style: solid; 
}
.version {
    position: fixed;
    color: gray;
    font-size: 10pt !important;
    bottom: 10px;
    right: 10px;
}

.logo {
    margin: auto;
    text-align: center;
    img {
        
        width: 250px;
    }
}
.item-title {
    color: #d1e5c1;
}

input {
    color: white !important;
}

a {
    color: #d1e5c1 !important;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: lightgray !important;
    font-size: 14pt !important;
}

.md .item-input-wrap:after {
    background: #d1e5c1;
}

.md .item-input-focused .item-label {
    color: #d1e5c1;
}

.item-label {
    line-height: 20px !important;
}

input {
    margin-top: 2px;
    height: 44px !important;
}
</style>

<script>
import { mapActions } from 'vuex';
import AccountAPI from '@/api/account';

export default {
    
    methods: {
        ...mapActions(['userLogged']),

        login() {            
            document.write("test");
            console.log("test");
        },
        loginPreview() {
            this.$f7.router.navigate('/loadingpage');             
            setTimeout(() => {
                this.$f7.dialog.close();
                this.$f7.router.navigate('/map/');  
            }, 5500);
        },
        saveCredentials(username, password) {
            localStorage.setItem('credentials', JSON.stringify({ username, password }));
        },
        forgotPassword() {
            if (!this.username) {
                this.$f7.dialog.alert('Please fill the username field');
                return;
            }
            this.$f7.dialog.alert(`Reset password for ${this.username}?`, () => {
                this.$f7.preloader.show();
                AccountAPI.resetPassword(this.username)
                    .then(() => { this.$f7.dialog.alert('Please check your email for instructions'); })
                    .catch(message => { this.$f7.dialog.alert(message); })
                    .then(() => { this.$f7.preloader.hide(); });
            });
        },
        createAccount() {
            this.$emit('sign-up');
        }
    }
};
</script>