<!--
     This is going to be the loading screen
-->
<template>
    <f7-page class="darkgreen-background">    
        <div class="">
            <img src="../assets/images/holoSpinEarth.gif" class="earthanimation"/>
        
            <img src="../assets/images/LOGO_v2.png" class="logo"/>
        </div>
        <div>
            <p class="locationAnimated" style="font-family: sans-serif; ">Acquiring Location...</p>
        </div>
    </f7-page>
</template>


<style lang="scss" scoped>
* {
    font-size: 13pt !important;
}

template {
    max-width: 100%;
    overflow-x: hidden;
}
.location{
    color:white;    
}
.locationAnimated{
    color:red;
    opacity:0;
    position: absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    bottom: 10%;
    animation: locationAnimation 5s .5s; 
}
@keyframes locationAnimation {
    0% { transform: scale(1); opacity: 0;}
    25% { transform: scale(1); opacity: 1; color:red;}
    33% { transform: scale(1); opacity: 1; color: rgb(255, 187, 61);}
    50% { transform: scale(1); opacity: 1; }
    75% { transform: scale(1); opacity: 1;color: rgb(255, 187, 61); }
    80% { transform: scale(1.2); opacity: 1; color: rgb(0, 255, 0);}
    90% { transform: scale(1.2); opacity: 1; color: rgb(0, 255, 0); }    
    100% { transform: scale(0.8); opacity: 0.0;}
}
.earthanimation {
    position:absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    top: 100px;
    text-align: center;
    margin-top: 125px; 
    transform:scale(1); 
    opacity: 0;    
    animation: earthanimation 5s .5s;
}
.logo {
    position:absolute;
    top: 125px;
    width: 250px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    animation: logoanimation 5.2s .5s;
}

@keyframes logoanimation {
    0% { transform: scale(1); opacity: 0;}
    75% { transform: scale(1); opacity: 1; top: 243px;}
    85% { transform: scale(0.5); opacity: 0.5; top: 243px; right: 0;}
    100% { transform: scale(0.2); opacity: 0; top: 20px;}
}
@keyframes earthanimation {  
  30% { transform: scale(2); opacity: 0.5; margin-top: 125px;}
  //40% { transform: scale(3.7); opacity: 1; margin-top: 50px;}
  60% { transform: scale(1.75); opacity: 0.5; margin-top:125px;}
  85% { transform: scale(2); opacity: 1; margin-top: 125px}
  100% { transform: scale(4.5); opacity: 0; margin-top: 125px;}  
}

.version {
    position: fixed;
    color: gray;
    font-size: 10pt !important;
    bottom: 10px;
    right: 10px;
}



.item-title {
    color: #d1e5c1;
}

input {
    color: white !important;
}

a {
    color: #d1e5c1 !important;
}
</style>