<!--
     This is our login page
-->
<template class="page">
<f7-page class="darkgreen-background"><br>
    <div class="logo">
        <img src="../assets/images/LOGO_v2.png" />
    </div>
    <div class="content-block">
        <img  class="backgroundImage" src="../assets/images/holoSpinEarth.gif">
        <div class="content-container">
            <form class="list form-store-data no-hairlines ">
                <ul>
                    <li class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label">Email Address</div><hr/>
                            <div class="item-input-wrap">
                                <input name="username"
                                    type="email"
                                    placeholder="Your email address"
                                    v-model="username">
                                <span class="input-clear-button"></span>
                            </div>
                        </div>
                    </li>
                    <li class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label">Password</div><hr/> 
                            <div class="item-input-wrap">
                                <input name="password"
                                    type="password"
                                    placeholder="Your password"
                                    v-model="password">
                                <span class="input-clear-button"></span>
                            </div>
                        </div>
                    </li>
                </ul>
            </form>
            
            <div class="content-block" style="text-align:center;">
                <!--<a href="#"
                    color="green"
                    class="button sign-in"
                    style="font-size: 18pt !important; background-color: #4CAF50; margin-left: 35px; margin-right: 35px;"
                    @click="login()">Sign In</a> -->
                    <img src="../assets/images/sign_in_thin.png" class="signIn" @click="loginPreview()"/>
                <br>
                <a href="#"
                    color="green"
                    style="font-size: 30pt;"
                    @click="loginPreview()">
                    or <u><i>skip login</i></u></a>
            </div>
            
            
            
            <f7-block>
                <p>
                    <a href="#"
                        @click="forgotPassword()"><i>Forgot / Reset Password</i></a>
                </p>
                <p>
                    <a id = "createAccount" href="#"
                        @click="$f7.router.navigate('/disclaimer')"><i>Create an account</i></a>
                </p>
            </f7-block>
            <div class="version">
                v. {{ version }}
            </div>
            </div>
        </div>        
</f7-page>
</template>

<style lang="scss" scoped>
// .no-navbar {
//     margin-top: -30px;
// }

* {
    font-size: 14pt !important;
}

.content-container {
    position: absolute;
    width: 100%;
    top:22%;
    bottom: 20%;
    left: auto;
    right: auto;
    //text-align: center;
    //border-style:solid;
    //border-color: green;    
}

.backgroundImage{
    position: relative;
    top: 30px;    
    //border-style:solid;
    //border-color: yellow; 
    height: 200%;
    width: 200%;   
    opacity: 1;   
}

.signIn {
    margin-top: -35px;
    width: 280px;
    height: 130px;
}

.version {
    position: fixed;
    color: gray;
    font-size: 10pt !important;
    bottom: 10px;
    right: 10px;
}

.logo {
    margin: auto;
    text-align: center;

    img {

        width: 220px;
    }
}

.item-title {
    color: #d1e5c1;
}

input {
    color: white !important;
}

a {
    color: #d1e5c1 !important;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: lightgray !important;
    font-size: 14pt !important;
}

.md .item-input-wrap:after {
    background: #d1e5c1;
}

.md .item-input-focused .item-label {
    color: #d1e5c1;
}

.item-label {
    line-height: 20px !important;
}

input {
    margin-top: 2px;
    height: 44px !important;
}
</style>

<script>
import { mapActions } from 'vuex';
import AccountAPI from '@/api/account';

export default {
    props: ['show'],    
    data() {
        return {
            username: null,
            password: null,
            version: 'undefined'
        };
    },
    created() {
        //this.$f7.dialog.alert("ceated");
        let json = localStorage.getItem('credentials');
        if (json) {
            let credentials = JSON.parse(json);
            this.username = credentials.username;
            this.password = credentials.password;

        }
        cordova.getAppVersion.getVersionNumber()
            .then(version => {
                this.version = version;
            })
            .catch(() => {
                console.warn('Cannot load application version');
            });
    },
    mounted() {
        if (this.saveCredentials != null) {
             AccountAPI.login(this.username, this.password)
                .then(response => {
                    if (response.success) {
                        this.saveCredentials(this.username, this.password);
                        this.userLogged(response);
                        this.$f7router.navigate('/loginpage'); 
                        setTimeout(() => {
                            this.$f7.dialog.close();
                            this.$f7router.navigate('/map');
                        }, 7000);                       
                    } else {
                        this.$f7.dialog.alert(response.message);
                    }
                })
                .catch((msg) => {
                    this.$f7.router.navigate('/loadingpage');             
                    setTimeout(() => {
                        this.$f7.dialog.close();
                        this.$f7.router.navigate('/map');  
                    }, 5500);
                    //this.$f7.dialog.alert(msg, "Incorrect Login Details");
                })             
            this.$f7.dialog.alert(this.$f7route.context.message);
            //this.username = this.$f7route.context.username;
            //this.password = this.$f7route.context.password;
            this.$f7.router.navigate('/disclaimer');
        }
        else {
            this.$f7.router.navigate('/loadingpage');             
            setTimeout(() => {
                this.$f7.dialog.close();
                this.$f7.router.navigate('/map');  
            }, 5500);
        }
    },    
    methods: {
        ...mapActions(['userLogged']),
        login () {
            //this.$f7.dialog.preloader('Logging in...');
            // This tests whether the users login details are correct. If the details are correct then the user will be 
            // navigated to the map, which is transitioned with our loading page
            // We set a specific time for the loading back to be shown before opening map
            // THis was so the loading pages animation was finished as map is opening.
            AccountAPI.login(this.username, this.password)
                .then(response => {
                    if (response.success) {
                        this.saveCredentials(this.username, this.password);
                        this.userLogged(response);

                        // Due to test purposes (because database was not connecting) we set this condition for both
                        // so we could view the loading page
                        this.$f7.router.navigate('/loadingpage');             
                        setTimeout(() => {
                            this.$f7.dialog.close();   
                            this.$f7.router.navigate('/map/');  
                        }, 5500);                      
                    } else {
                        this.$f7.router.navigate('/loadingpage');             
                        setTimeout(() => {
                            this.$f7.dialog.close();
                            this.$f7.router.navigate('/map/');  
                        }, 5500);
                        //this.$f7.dialog.alert(response.message);
                    }
                })
                .catch((msg) => {
                    this.$f7.router.navigate('/loadingpage');
                    setTimeout(() => {
                        this.$f7.dialog.close();
                        this.$f7.router.navigate('/map/');  
                    }, 5500);
                    //this.$f7.dialog.alert(msg, "Incorrect Login Details");
                })                
        },
        loginPreview() { // Allows user to preview app by skipping the login process
            this.$f7.router.navigate('/loadingpage');             
            setTimeout(() => {
                this.$f7.dialog.close();
                this.$f7.router.navigate('/map/');  
            }, 5500);
        },
        saveCredentials(username, password) {
            localStorage.setItem('credentials', JSON.stringify({ username, password }));
        },
        forgotPassword() {
            if (!this.username) {
                this.$f7.dialog.alert('Please fill the username field');
                return;
            }
            this.$f7.dialog.alert(`Reset password for ${this.username}?`, () => {
                this.$f7.preloader.show();
                AccountAPI.resetPassword(this.username)
                    .then(() => { this.$f7.dialog.alert('Please check your email for instructions'); })
                    .catch(message => { this.$f7.dialog.alert(message); })
                    .then(() => { this.$f7.preloader.hide(); });
            });
        },
        createAccount() {
            this.$emit('sign-up');
        }
    }
};
</script>
