<template>
<f7-page>
    <f7-navbar>
        <f7-nav-left v-if="displayLeftPanel">
            <f7-link class="panel-open"
                open-panel="left"
                icon-material="menu"></f7-link>
        </f7-nav-left>
        <div class="title">Ecotrack.nz</div>
    </f7-navbar>
    <f7-block class="center">
        <div style="width: 280px; margin: auto;">
            <img src="static/Map128_256.png"
                @click="$f7.router.navigate('/map')" />
            <img v-for="icon in icons"
                :src="icon.data"
                @click="iconClicked(icon.action, icon.id)" />
        </div>
    </f7-block>
</f7-page>
</template>

<script>
import { mapState } from 'vuex';
import config from 'config';

export default {
    computed: mapState(['icons', 'displayLeftPanel']),
    methods: {
        getIconURL(filename) {
            return `${config.imageURL}/${filename}`;
        },
        iconClicked(action, id) {
            if (action === 'New') {
                this.$f7.router.navigate(`/form/${id}`);
            } else {
                this.$f7.router.navigate(`/record/${id}`);
            }
        },
        mapClicked() {
            this.$emit('open-map');
        }
    },
};
</script>
