
<template>
<f7-page class="zoom">   
    <f7-navbar style="background-color:black;">
        <f7-nav-left>
            <f7-link icon-material="arrow_back"
                @click="$f7.router.navigate('/map')">
            </f7-link>
        </f7-nav-left>
        <div class="title">Profile</div>
        <f7-nav-right>
            <!-- <f7-link href="/map-download"
                icon-material="cloud_download"></f7-link> -->
           <f7-link> edit </f7-link>
            <f7-link icon-material="" @click="$f7.router.navigate('/loginpage')">logout
            </f7-link>           
        </f7-nav-right>
    </f7-navbar>
    <f7-block>        
        <img id="profilepic" src="../assets/images/profile.png" class="profileImage" />
        <p class="mainInfo" style="font-size: 20px; text-align: center; color: white;" ><b>My name is Joseph</b></p> 
    </f7-block>
    <f7-block class="rankandpointsContainer">
        <a style="text-align: left;" class="mainInfo"><b>PINTS:</b><a id="points" class="mainInfo">0</a></a>
        

        <p style="text-align right;" class="mainInfo"><b>RANK:</b></p>
        <p id="rank" class="mainInfo">unranked</p>
    </f7-block>
        <button id="add" v-on:click="add()" class="button" >Add points</button>
        <button id="minus" v-on:click="minus()" class="button">Minus points</button>
    <hr/>
    <f7-block>
        <p class="info"><b>Name:</b> Jim Jimson</p>
        <p class="info"><b>Email:</b> jim@gmail.com</p>        
        <p class="info"><b>Group:</b> Ratatouille</p>  
    </f7-block>
    <div class="version">
        v. {{ version }}
    </div> 
</f7-page>
</template>

<script>
export default {
    methods: { 
        // **  Test buttons for Profile **    
        add(){ // add to points to test rank and pic change
            var points = document.getElementById("points").innerText;
            var pointsPlus = Number(points) + 2500;
            document.getElementById("points").innerText = pointsPlus;
            this.rankset();
        },
        minus(){ // minus from points
             document.getElementById("points").innerText -= 2500;
             this.rankset();
        },
        logout(){
            setTimeout(() => {
                this.$f7.dialog.close();
                this.$f7router.navigate('/frontpage');
            }, 7000);
        },
        rankset(){
            let points = document.getElementById("points").innerText;
            if(points == 0)
            {
                document.getElementById("rank").innerText = "unranked"; 
                
                document.getElementById("profilepic").src = "profile.png";               
            }
            else if(points < 5000 && points > 0)
            {
                document.getElementById("rank").innerText = "Level 1";
                document.getElementById("profilepic").src = "profile2.png";                
            }
            else if(points >= 5000 && points <= 9999)
            {
                document.getElementById("rank").innerText = "Level 2";                
                document.getElementById("profilepic").src = "profile3.png"; 
            }            
            else if(points >= 10000 && points <= 14999)
            {
                document.getElementById("rank").innerText = "Level 3";
                document.getElementById("profilepic").src = "profile4.png"; 
            }            
            else if(points >= 15000 && points <= 19999)
            {
                document.getElementById("rank").innerText = "Level 4";
                document.getElementById("profilepic").src = "profile5.png"; 
            }            
            else if(points >= 20000 && points <= 24999)
            {
                document.getElementById("rank").innerText = "Level 5";
                document.getElementById("profilepic").src = "profile2.png"; 
            }
            else if(points >= 25000)
            {
                document.getElementById("rank").innerText = "Level 6";
            }
        }
    }
};
</script>
<style lang="scss" scoped>
.mainInfo{ 
    font-size: 16px;
    color:olivedrab;
}
.zoom {
    background-color: green;
}
.info {
    text-align: left; 
    color: rgb(97, 226, 97);
}
.rankandpointsContainer{
    background-color:white;
    padding: 20px;
    margin: 20px;
}
.profileImage {
    display:block;
    height:150px;
    width: 160px;
    margin-left:auto;
    margin-right:auto;    
}

.bouncingImage {       
    animation: bounce 10s .5s;
}
@keyframes bounce {   
  30% { transform: scale(3); opacity: 1; margin-top: 125px;}
}
</style>