<!--
    This is our profile page. It displays basic information about the user, and also shows their rank, points and border dependent on their level    
-->
<template>
<f7-page style="background-color:#1E2024; overflow: hidden;">       
    
    <f7-navbar style="background-color:black;">
        <f7-nav-left>
            <f7-link 
                icon-material= "arrow_back"
                back>
            </f7-link>
        </f7-nav-left>
        <div class="title">Profile</div>
    </f7-navbar>
    <f7-block>     
        <div style="position: relative; left: 0; top: 0; text-align: center;">
             
             <!-- Shows the users profile pictue and rank border -->
            <img id="profilepic" src="../assets/images/wolf.png" class="profileImage" />
            <img id="rankborder" src="../assets/images/level0.png" class="border" />

             <!-- Loads images in the background. Solved the issue where the images were not loading when it first launches -->
            <img id="profilepic" src="../assets/images/lion.png" class="profileImage" style="display: none;"/>
            <img id="profilepic" src="../assets/images/wolf.png" class="profileImage" style="display: none;"/>            
            <img id="profilepic" src="../assets/images/sprout.png" class="profileImage" style="display: none;"/>
            <img id="profilepic" src="../assets/images/level1.png" class="border" style="display: none;"/>
            <img id="profilepic" src="../assets/images/level2.png" class="border" style="display: none;"/>
            <img id="profilepic" src="../assets/images/level3.png" class="border" style="display: none;"/>
            <img id="profilepic" src="../assets/images/level4.png" class="border" style="display: none;"/>                                    
            <img id="profilepic" src="../assets/images/level5.png" class="border" style="display: none;"/>           
            <img id="profilepic" src="../assets/images/level6.png" class="border" style="display: none;"/>
            <img id="profilepic" src="../assets/images/level7.png" class="border" style="display: none;"/>
            <img id="profilepic" src="../assets/images/level8.png" class="border" style="display: none;"/>
            <img id="profilepic" src="../assets/images/level9.png" class="border" style="display: none;"/>
            <img id="profilepic" src="../assets/images/level10.png" class="border" style="display: none;"/>
        </div>    
       
        <!-- Allow user to change their current profile picture -->
        <button id="changePicture" v-on:click="changePicture()" class="button">Change Picture</button>
        <p class="mainInfo" style="font-size: 20px; text-align: center; color: white;" ><b>Rat-Slayer9000</b></p> 

    </f7-block>

    <!-- Shows the curent rank and points of the user -->
    <f7-block>
        <table align = "center" border= "0" width = "300" height = "100" >
            <tr>
                <th><a style="text-align: middle;" class="rank"><b>RANK:</b></a></th>
                <th><a style="text-align: middle;" class="points"><b>POINTS:</b></a></th>
            </tr>
            <tr>
                <th><a id="rank" class="mainInfo">unranked</a></th>
                <th><a id="points" class="mainInfo">0</a></th>
            </tr>
        </table>
    </f7-block>
   
    <!-- 
        <a style="text-align right;" class="rank"><b>RANK:</b></a>    
        <a style="text-align: left;" class="points"><b>POINTS:</b></a>
        <a id="points" class="mainInfo">0</a>
        <a id="rank" class="mainInfo">unranked</a>
    -->
   
        <!-- Tester buttons for allococating the users points -->
        <button id="add" v-on:click="add()" class="button" >Add points</button>
        <button id="minus" v-on:click="minus()" class="button">Minus points</button> 

    <!-- Shows users name, email, and group -->
    <f7-block>
        <hr>
        <table align = "center" border= "0" width = "300" height = "20" >
            <tr>
                <th><p class="info" ><b>Name:</b></p></th>                
                <th><p class="info2"><b>Jim Jimson</b></p></th>
            </tr>         
            <tr>
                <th><p class="info"><b>Email:</b></p></th>
                <th><p class="info2"><b>jim@gmail.com</b></p></th>                
            </tr>          
             <tr>
                <th><p class="info"><b>Group:</b></p></th>
                <th><p class="info2"><b>Ratatouille</b></p></th>
                
            </tr>          
        </table>
        <hr>
        
    </f7-block>
    <div class="version">
        v. {{ version }}
    </div> 
</f7-page>
</template>

<script>
var pictureNumber = 0;  
import ol from 'openlayers';
import config from 'config';


export default {
    methods: { 
        // **  Test buttons for Profile **
        changePicture(){ // Changes profile picture when this button is function is called. Rotates through images.
            pictureNumber++;
            if (pictureNumber == 1)
            {
                document.getElementById("profilepic").src = "sprout.png";
            }
            if (pictureNumber == 2)
            {
                document.getElementById("profilepic").src = "lion.png"; 
            }
            if (pictureNumber == 3)
            {
                 document.getElementById("profilepic").src = "wolf.png";
                 pictureNumber = 0;
            }
        },

        add(){ // add to points to test rank and pic change
            var points = document.getElementById("points").innerText;
            var pointsPlus = Number(points) + 2500;
            document.getElementById("points").innerText = pointsPlus;
            this.rankset();
        },
        minus(){ // minus from points
             document.getElementById("points").innerText -= 2500;
             this.rankset();
        },        
        onOpenLeftPanel() {    //Opens the left panel to show the Main menu
            let refs = this.mapMenuItems ? JSON.parse(JSON.stringify(this.mapMenuItems)) : [];
            refs.forEach(ref => {
                Object.assign(ref, { action: 'Load Location', location: this.latestLocation });
            });
            this.loadReferences(refs);
            this.$f7.panel.open('left');
        },
        onOpenRightPanel() {    //Opens the right panel to show the map menu items
            let refs = this.mapMenuItems ? JSON.parse(JSON.stringify(this.mapMenuItems)) : [];
            refs.forEach(ref => {
                Object.assign(ref, { action: 'Load Location', location: this.latestLocation });
            });
            this.loadReferences(refs);
            this.$f7.panel.open('right');
        },
        rankset()     // Used to identify which level the user is, and changes the border design based on their points.
	{     
            let points = document.getElementById("points").innerText;
            if(points == 0)
            {
                document.getElementById("rank").innerText = "unranked";
                document.getElementById("rankborder").src = "level0.png";  
            }
            else if(points < 5000 && points > 0)    //if users points are between 0 and 4999 then the user is at level 1, and level 1 border (Same concept for rest of ranks)
            {
                document.getElementById("rank").innerText = "Level 1";
                document.getElementById("rankborder").src = "level1.png";
            }
            else if(points >= 5000 && points <= 9999)
            {
                document.getElementById("rank").innerText = "Level 2";
                document.getElementById("rankborder").src = "level2.png";     
            }            
            else if(points >= 10000 && points <= 14999)
            {
                document.getElementById("rank").innerText = "Level 3";
                document.getElementById("rankborder").src = "level3.png";
            }            
            else if(points >= 15000 && points <= 19999)
            {
                document.getElementById("rank").innerText = "Level 4";
                document.getElementById("rankborder").src = "level4.png";
            }            
            else if(points >= 20000 && points <= 24999)
            {
                document.getElementById("rank").innerText = "Level 5";
                document.getElementById("rankborder").src = "level5.png";
                
            }
            else if(points >= 25000 && points <= 29999)
            {
                document.getElementById("rank").innerText = "Level 6";
                document.getElementById("rankborder").src = "level6.png";
            }

            else if(points >= 30000 && points <= 34999)
            {
                document.getElementById("rank").innerText = "Level 7";
                document.getElementById("rankborder").src = "level7.png";
            }
            else if(points >= 35000 && points <= 39999)
            {
                document.getElementById("rank").innerText = "Level 8";
                document.getElementById("rankborder").src = "level8.png";
            }
            else if(points >= 40000 && points <= 44999)
            {
                document.getElementById("rank").innerText = "Level 9";
                document.getElementById("rankborder").src = "level9.png";
            }
            else if(points >= 45000)
            {
                document.getElementById("rank").innerText = "Level 10";
                document.getElementById("rankborder").src = "level10.png";
            }                                              
        }
    }
};

</script>
<style lang="scss" scoped>

.mainInfo{ 
    font-size: 17px;
    color:#6BCB98;
}

.info {
    text-align: center; 
    color: white;
    font-size: 17px;
}

.info2 {
    text-align: center; 
    color: #6BCB98;
}
.rankandpointsContainer{
    background-color:black;   
    padding: 20px;
    margin: 20px;
}

.rank{
    font-size: 25px;
    color: white;
}

.points{
    font-size: 25px;
    color: white;
}

//Fixed Issue: Container misaligning with the profile image
.border {  
    position: absolute; 
    display: table-cell;
    vertical-align: middle;
    height:183px;
    width: 308px;
    top:0;
    left:50%;
    margin-left:-154px;
    margin-top: -28px;
    margin-right:auto;
    z-index: 1;
}

//Fixed Issue: Container misaligning with the rank border
.profileImage {     
    position: relative;
    display: table-cell;
    vertical-align: middle;
    height:150px;
    width: 160px; 
    top:0;
    left:0;
    margin-left:auto;
    margin-right:auto;
    z-index: 0;
}

//Testing if the image will be able to move out of the container
.bouncingImage {       
    animation: bounce 10s .5s;
}
@keyframes bounce {   
  30% { transform: scale(3); opacity: 1; margin-top: 125px;} // This transforms the image with these new attributes
}
</style>