<template>
<f7-page ref="galleryElement"
    :page-content="false">
    <f7-navbar class="shadowless">
        <f7-nav-left>
            <f7-link class="panel-open"
                open-panel="left"
                icon-material="menu"></f7-link>
        </f7-nav-left>
        <div class="title">{{ this.gallery.form }}</div>
        <f7-nav-right>
            <f7-link icon-material="add"
                :href="`/form/${gallery.formId}`"></f7-link>
        </f7-nav-right>
    </f7-navbar>

    <f7-searchbar @change="onSearch"></f7-searchbar>

    <div class="page-content">
        <f7-list class="searchbar-found"
            id="search-list"
            v-if="errorMessage">

            <f7-list-item v-for="offlineRecord in offlineRecords"
                @click="offlineRecordClicked(offlineRecord.id)"
                :key="offlineRecord.id"
                :title="offlineRecord.recordName"
                class="offline-record"></f7-list-item>

        </f7-list>

        <f7-block v-if="errorMessage"
            class="center">
            {{ errorMessage }}
        </f7-block>

        <div v-else>
            <f7-list class="searchbar-not-found">
                <f7-list-item title="No records found"></f7-list-item>
            </f7-list>

            <f7-list class="searchbar-found">
                <f7-list-item v-for="offlineRecord in offlineRecords"
                    :href="`/offline-record/${offlineRecord.id}`"
                    :key="offlineRecord.id"
                    :title="offlineRecord.recordName"
                    class="offline-record"></f7-list-item>

                <f7-list-item v-for="record in records"
                    :link="`/record/${record.id}`"
                    :key="record.id"
                    :title="record.name"></f7-list-item>
            </f7-list>
        </div>
    </div>

</f7-page>
</template>

<script>
// import debounce from 'lodash/debounce';
import GalleryAPI from '@/api/gallery';
import RecordDB from '@/db/record';

export default {
    data() {
        return {
            search: null,
            gallery: null,
            records: null,
            offlineRecords: null,
            errorMessage: 'Something bad happened :('
        };
    },
    created() {
        console.log(this.$f7route.params);
        this.gallery = this.$f7route.params;
        this.records = null;
        this.errorMessage = null;
        this.runSearch(this.gallery.name, this.gallery.form, this.gallery.formId);
        this.getOffLineRecords(this.gallery.form);
    },
    methods: {
        legalize() {
            console.log(this.search);
        },
        runSearch(gallery, form, formId, query) {
            this.$f7.preloader.show();
            GalleryAPI.load(gallery, form, formId, query)
                .then(response => {
                    this.records = response;
                    this.$f7.preloader.hide();
                })
                .catch(error => {
                    console.log('debug3');
                    this.errorMessage = error;
                    this.$f7.preloader.hide();
                });
        },
        getOffLineRecords(gallery) {
            this.offlineRecords = [];
            RecordDB.getAll().then(rows => {
                for (let i = 0; i < rows.length; i++) {
                    let item = rows.item(i);
                    let itemJson = JSON.parse(item.json);
                    if (gallery === itemJson.formName) {
                        this.offlineRecords.push(itemJson);
                    }
                }
            });
        },
        onSearch(e) {
            this.runSearch(this.gallery.name, this.gallery.form, this.gallery.formId, e.target.value);
        },
        // onSearch: debounce(
        //     function() {
        //         this.runSearch(this.gallery.name, this.gallery.form, this.gallery.formId, this.search);
        //     }, 2500),
    }
};
</script>
<style scoped lang="scss">
.offline-record {
    color: #600;
}
</style>
