$label-size: 14px;
:root{
    --f7-navbar-background-color: black;
}

.center {
    text-align: center;
}

.shadowless {
    box-shadow: 0 0 0 !important;
}

input::placeholder {
    font-style: italic;
    font-size: $label-size;
}

:-moz-placeholder {
    font-style: italic;
    font-size: $label-size;
}

:-ms-input-placeholder {
    font-style: italic;
    font-size: $label-size;
}

::-moz-placeholder {
    font-style: italic;
    font-size: $label-size;
}

::-webkit-input-placeholder {
    font-style: italic;
    font-size: $label-size;
}


.darkgreen-background {
    background:black !important;// #015400 !important;
}

.fade-enter-active,
.fade-leave-active {
    transition: all .5s;
    opacity: 1;
    // max-height: 200px;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
    // max-height: 0;
}
