<template>
<f7-page>
    <f7-navbar>
        <f7-nav-left>
            <f7-link back
                icon="icon icon-back"></f7-link>
        </f7-nav-left>
        <div class="title">Download map data</div>
    </f7-navbar>

    <form class="list no-hairlines">
        <ul>
            <li class="item-content item-input">
                <div class="item-inner">
                    <div class="item-title label">Select the map to be available offline:</div>
                    <div class="item-input-wrap">
                        <select v-model="selectedPolygon">
                            <option style="display: none"></option>
                            <option v-for="p in polygons"
                                :value="p.polygon">
                                {{ p.name }}
                            </option>
                        </select>
                    </div>
                </div>
            </li>
            </li>
        </ul>
    </form>

    <f7-block>
        <f7-button fill
            :disabled="disabled"
            @click="download">Download</f7-button>
    </f7-block>
    <f7-block>
        Progress: {{ map.downloaded }} / {{ map.totalFiles }}
    </f7-block>
</f7-page>
</template>
<script>
import { mapState } from 'vuex';
import TileDownloader from '@/helpers/map-tile-downloader';
import OfflineMapAPI from '@/api/offline-map';

export default {
    data() {
        return {
            polygons: null,
            selectedPolygon: null
        };
    },
    created() {
        this.$f7.preloader.show();
        OfflineMapAPI.get()
            .then(data => {
                this.polygons = data;
            })
            .catch(err => {
                this.$f7.dialog.alert('Cannot load polygons data for current user');
            })
            .then(() => {
                this.$f7.preloader.hide();
            });
    },
    methods: {
        download() {
            if (this.selectedPolygon) {
                TileDownloader.download(this.selectedPolygon, 17);
            } else {
                alert('Polygon not defined');
            }
        }
    },
    computed: {
        disabled() {
            return false;
        },
        ...mapState({
            map: state => state.map
        })
    }
};
</script>
