<template>
<transition name="fade">
    <div class="infobox" v-if="show">
        <div class="box-header">
            <div>
                <b>{{ data.header }}</b><hr>
            </div>
            <a href="#"
                class="close-button"
                @click="$emit('close')">
                <f7-icon material="cancel"></f7-icon>
            </a>
        </div>
        <table>
            <tr>
                <td class="header">Code:</td>
                <td class="info">{{ data.code }}</td>
            </tr>
            <tr>
                <td class="header">Status:</td>
                <td class="info">{{ data.status }}</td>
            </tr>
            <tr>
                <td class="header">Detail:</td>
                <td class="info"><pre>{{ data.detail }}</pre></td>
            </tr>
        </table>
        <div class="button-wrapper"><br>
            <button class="button button-fill color-red"
                @click="open(data)">Open record</button>                               
        </div>
                <img src="/static/blueSmallSlow.gif"/>                
                <img src="/static/blueMedShort.gif"/>
                <img src="/static/blueMedSlow.gif"/>
                <img src="/static/blueSmallSlow.gif"/>
                <img src="/static/greenMedSlow.gif"/> 

    </div>
</transition>
</template>

<script>
export default {
    props: ['show', 'data'],
    methods: {
        open(data) {
            if (data.offline) {
                this.$f7.router.navigate(`/offlinerecord/${data.id}`);
            } else {
                this.$f7.router.navigate(`/record/${data.id}`);
            }
        }
    }
};
</script>

<style scoped lang="scss">
.button {
    font-size: 16px;
    font-weight: bold;
  -webkit-animation: bounce .6s infinite alternate;
  -moz-animation: bounce .6s infinite alternate;
  animation: bounce .6s infinite alternate;
}
@-webkit-keyframes bounce {
  to { -webkit-transform: scale(1.1); }
}
@-moz-keyframes bounce {
  to { -moz-transform: scale(1.1); }
}
@keyframes bounce {
  to { transform: scale(1.1); }
}
.infobox {
    position: absolute;
    background: rgba(0, 0, 0, 0.800);
    color: white;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
}

.box-header {
    font-size: 14pt;
    display: flex;
    justify-content: space-between;
    font-family: 'Arial';
}

.header {
    color: rgb(207, 207, 207);
    font-weight: bold;
    font-size: 12.5pt;
    margin-top: 20px;
    padding-right: 5px;
    padding-top: 0px;
    font-family: 'Arial';
}

.info {
    font-size: 12pt;
    font-family: 'Arial';
}

.close-button {
    // border: 1px solid red;
    width: 40px;
    text-align: right;
    color: white;
}

td {
    vertical-align: top;
}

pre {
    margin: 0;
    font: unset;
}

.button-wrapper {
    width: 140px;
    float: right;
}
</style>