<!--
    This page loads the Map. 
-->
<template>
<f7-page style="overflow: hidden;">
    <f7-navbar style="background-color:black;">
        <f7-nav-left>
            <f7-link 
                icon-material="menu"
                @click="onOpenLeftPanel">
            </f7-link>
        </f7-nav-left>
        <div class="title big" style="font-size: 20px; font-family: 'arial'">Map</div>
        <f7-nav-right>
            <!-- <f7-link href="/map-download"
                icon-material="cloud_download"></f7-link> -->
            <f7-link @click="currentLocation"
                icon-material="location_on">
            </f7-link>
            <f7-link @click="onOpenRightPanel"        
                icon-material="add_circle">
            </f7-link>
            <f7-link 
                @click="$f7.router.navigate('/profile')" 
                icon-material="account_circle">
            </f7-link>
        </f7-nav-right>
    </f7-navbar>
    <div id="map" style="height: 100%">
            <iframe id="ourMap" width="100%" height="100%" src="https://api.maptiler.com/maps/f27e0353-147b-40b7-bef9-3536b4a1eb51/?key=8glFl8cMrAW6iprxKJnm#15.02/-36.854124447921194/174.76729452577277"></iframe>
            <!--This opens up the maptiler map
                at the coordinates set at the end of
                the link -->
    </div>

    <infobox :show="showInfobox"
        :data="infoboxData"
        @close="showInfobox = false">
    </infobox>
</f7-page>
</template>
<style>

</style>
<script>
import { mapActions, mapState } from 'vuex';
import NeighborhoodPointsAPI from '@/api/neighborhood-points';
import ol from 'openlayers';
import config from 'config';
import MapHelper from '@/helpers/map';
import Infobox from './infobox';
import ViewModelHelper from '@/helpers/viewmodel';
import RecordDB from '@/db/record';

export default {
    components: { Infobox },
    
    data() {       // Loads map at this location is map is null
        return {
            map: null,
            currentLocationStyle: null,
            currentLocationVectorSource: null,
            neighborhoodPointsVectorSource: null,
            center: { // bh = [-43.986490, -19.874795];
                latitude: -36.86667,
                longitude: 174.76667
            },
            timerId: null,

            latestLocation: null,

            showInfobox: false,
            infoboxData: {},
            loadedStyles: [],
            lastHighlightedFeature: null,

            unwatcher: null,
        };
    },
    created() {
        this.unwatcher = this.$store.watch(this.$store.getters.getLastSavedRecord, record => {
            let features = this.neighborhoodPointsVectorSource.getFeatures();
            let foundFeature = features.find(f => f.N && f.N.data && f.N.data.id == record.id); // eslint-disable-line
            let latitude = ViewModelHelper.findControl(record, c => c.name === 'Latitude');
            let longitude = ViewModelHelper.findControl(record, c => c.name === 'Longitude');
            if (latitude && longitude && latitude.value && longitude.value) {
                let point = ol.proj.fromLonLat([parseFloat(longitude.value), parseFloat(latitude.value)]);
                let geometry = new ol.geom.Point(point);
                if (foundFeature) {
                    this.neighborhoodPointsVectorSource.removeFeature(foundFeature);
                    foundFeature.setGeometry(geometry);
                    this.neighborhoodPointsVectorSource.addFeature(foundFeature);
                } else {
                    let feature = new ol.Feature({
                        geometry,
                        data: {
                            offline: true,
                            id: record.id,
                            header: record.recordName, // record.name,
                            code: 'NEW'
                        }
                    });
                    let style = new ol.style.Style({
                        image: new ol.style.Icon({
                            crossOrigin: 'anonymous',
                            src: this.$device.desktop ? '/static/marker_v1.png' : 'file:./static/marker_v1.png'
                        })
                    });
                    this.loadedStyles.push({
                        id: record.id,
                        style
                    });
                    feature.setStyle(style);
                    this.neighborhoodPointsVectorSource.addFeature(feature);
                }
            }
        });
    },
    destroyed() {
        this.unwatcher();
    },
    zoomIn() {
        return 25;
    },
    mounted() {
        currentLocation();
        if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(position => {
                    this.position = position.coords;                    
                    document.getElementById("ourMap").src = "https://api.maptiler.com/maps/f27e0353-147b-40b7-bef9-3536b4a1eb51/?key=8glFl8cMrAW6iprxKJnm#15.02/"
                     + position.coords.latitude + "/" + position.coords.longitude;
                });
            }
        this.visible = false;
        this.currentLocationStyle = new ol.style.Style({
            image: new ol.style.Icon(({
                color: '#FFFFFF',
                crossOrigin: 'anonymous',
                src: this.$device.desktop ? '/static/marker_v1.png' : 'file:./static/marker_v1.png'
            }))
        });
        this.currentLocationVectorSource = new ol.source.Vector();
        this.neighborhoodPointsVectorSource = new ol.source.Vector();
        let vectorLayer1 = new ol.layer.Vector({
            source: this.currentLocationVectorSource
        });
        let vectorLayer2 = new ol.layer.Vector({
            source: this.neighborhoodPointsVectorSource
        });
        let offlineRaster = cordova.file.externalCacheDirectory ?
            new ol.layer.Tile({
                source: new ol.source.OSM({ url: cordova.file.externalCacheDirectory + 'tiles/{z}/{x}/{y}.png' })
            }) :
            null;
        let onlineLayer = new ol.layer.Tile({
            source: new ol.source.OSM()
        });
        let layers = [onlineLayer, vectorLayer2, vectorLayer1];
        if (offlineRaster) layers = [offlineRaster].concat(layers);
        // let bh = [-43.986490, -19.874795];
        let nz = [174.76667, -36.86667];
        var zoomValue = 15;
              
        this.map = new ol.Map({
            layers,
            target: document.getElementById('map'),
            view: new ol.View({
                center: ol.proj.fromLonLat(nz),
                zoom: zoomValue                 
            })
        });              
        let hmarker = new ol.style.Style({
            image: new ol.style.Icon({
                color: '#FFFF00',
                crossOrigin: 'anonymous',
                src: this.$device.desktop ? '/static/hmarker.png' : 'file:./static/hmarker.png'
            })
        });
        this.map.on('click', event => {
            let selected = null;
            this.map.forEachFeatureAtPixel(event.pixel, (feature, layer) => {
                if (feature.N.data && feature.N.data.id) {
                    selected = feature.N.data;

                    if (this.lastHighlightedFeature) {
                        this.lastHighlightedFeature.feature.setStyle(this.lastHighlightedFeature.style);
                    }
                    let ls = this.loadedStyles.find(s => s.id === feature.N.data.id);
                    this.lastHighlightedFeature = {
                        feature,
                        style: ls.style
                    };
                    feature.setStyle(hmarker);
                }
            });
            if (selected) {
                this.showPointDetail(selected);
            }
        });
        if (!this.$device.desktop) {
            MapHelper.getCurrentPosition().then(position => {
                let point = ol.proj.fromLonLat([position.coords.longitude, position.coords.latitude]);
                this.map.getView().setCenter(point);
            });
        }
        setTimeout(() => { this.map.updateSize(); }, 1000);
        setTimeout(() => { this.onMyLocationClicked(); }, 1500);
    },
    methods: {
        ...mapActions(['loadReferences', 'loadMapPointData']),
        currentLocation()    // When this is called, this function moves map to the users current location using a geolocation service.
        {            
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(position => {
                    this.position = position.coords;                    
                    document.getElementById("ourMap").src = "https://api.maptiler.com/maps/f27e0353-147b-40b7-bef9-3536b4a1eb51/?key=8glFl8cMrAW6iprxKJnm#15.02/"
                     + position.coords.latitude + "/" + position.coords.longitude;
                });
            }
        },
        onMyLocationClicked() {
            if (this.$device.desktop) {
                this.setCurrentPosition({ coords: { latitude: -36.941743, longitude: 174.667650 } });
                return;
            }
            if (!this.timerId) {
                this.timerId = setInterval(() => {
                    MapHelper.getCurrentPosition().then(this.setCurrentPosition.bind(this));
                }, 1000);
            } else {
                MapHelper.getCurrentPosition().then(position => {
                    let point = ol.proj.fromLonLat([position.coords.longitude, position.coords.latitude]);
                    this.map.getView().setCenter(point);
                });
            }
        },
        setCurrentPosition(position) {
            this.latestLocation = position.coords;
            let point = ol.proj.fromLonLat([position.coords.longitude, position.coords.latitude]);
            let feature = new ol.Feature({
                geometry: new ol.geom.Point(point)
            });
            feature.setStyle(this.currentLocationStyle);
            this.currentLocationVectorSource.clear();
            this.currentLocationVectorSource.addFeature(feature);
            let distance = MapHelper.calculateDistance(position.coords, this.center);
            if (distance > 50) {
                this.center = position.coords;
                this.map.getView().setCenter(point);
                //this.$f7.dialog.preloader('Logging in...');

                this.displayNeighborhoodPoints(position.coords.latitude, position.coords.longitude);
            }
        },
        loadNeighborhoodPoints(latitude, longitude) {
            return new Promise(resolve => {
                Promise.all([RecordDB.getAll(), NeighborhoodPointsAPI.get(latitude, longitude)])
                    .then(results => {
                        let mapPoints = [];
                        let dbData = results[1];
                        let cachedData = [];
                        if (results[0]) {
                            for (let i = 0; i < results[0].length; i++) {
                                let item = results[0].item(i);
                                cachedData.push(JSON.parse(item.json));
                            }
                        }
                        dbData.forEach(record => {
                            let cachedRecord = cachedData.find(r => r.id == record.id); // eslint-disable-line
                            if (cachedRecord) {
                                let latitudeControl = ViewModelHelper.findControl(cachedRecord, c => c.name === 'Latitude');
                                let longitudeControl = ViewModelHelper.findControl(cachedRecord, c => c.name === 'Longitude');
                                record.point = [
                                    parseFloat(latitudeControl.value),
                                    parseFloat(longitudeControl.value)
                                ];
                            }
                            mapPoints.push(record);
                        });
                        cachedData.forEach(cachedRecord => {
                            let record = dbData.find(r => r.id == cachedRecord.id); // eslint-disable-line
                            if (!record) {
                                let latitudeControl = ViewModelHelper.findControl(cachedRecord, c => c.name === 'Latitude');
                                let longitudeControl = ViewModelHelper.findControl(cachedRecord, c => c.name === 'Longitude');
                                if (latitudeControl && longitudeControl) {
                                    mapPoints.push({
                                        offline: true,
                                        id: cachedRecord.id,
                                        header: cachedRecord.recordName,
                                        code: 'NEW',
                                        point: [
                                            parseFloat(latitudeControl.value),
                                            parseFloat(longitudeControl.value)
                                        ]
                                    });
                                }
                            }
                        });
                        resolve(mapPoints);
                    });
            });
        },
        displayNeighborhoodPoints(latitude, longitude) {
            this.loadNeighborhoodPoints(latitude, longitude)
                .then(response => {
                    this.neighborhoodPointsVectorSource.clear();
                    let features = [];
                    response.forEach(item => {
                        let point = ol.proj.fromLonLat([item.point[1], item.point[0]]);
                        let feature = new ol.Feature({
                            geometry: new ol.geom.Point(point),
                            data: item
                        });
                        let style;
                        if (item.offline) {
                            style = new ol.style.Style({
                                image: new ol.style.Icon({
                                    crossOrigin: 'anonymous',
                                    src: this.$device.desktop ? '/static/new-marker.png' : 'file:./static/new-marker.png'  
                                })
                            });
                        } else {
                            style = new ol.style.Style({
                                image: new ol.style.Icon(({
                                    crossOrigin: 'anonymous',
                                    src: `${config.markerURL}/${item.color}/${item.code}`
                                }))
                            });
                        }
                        this.loadedStyles.push({
                            id: item.id,
                            style
                        });
                        feature.setStyle(style);
                        features.push(feature);
                    });
                    this.neighborhoodPointsVectorSource.addFeatures(features);
                });
        },
        showPointDetail(data) {
            this.infoboxData = data;
            this.showInfobox = true;
        },
        onOpenLeftPanel() { // opens up the left panel when this is called.
            let refs = this.mapMenuItems ? JSON.parse(JSON.stringify(this.mapMenuItems)) : [];
            refs.forEach(ref => {
                Object.assign(ref, { action: 'Load Location', location: this.latestLocation });
            });
            this.loadReferences(refs);
            this.$f7.panel.open('left');
        },
        onOpenRightPanel() { // opens right panel when this is called.
            let refs = this.mapMenuItems ? JSON.parse(JSON.stringify(this.mapMenuItems)) : [];
            refs.forEach(ref => {
                Object.assign(ref, { action: 'Load Location', location: this.latestLocation });
            });
            this.loadReferences(refs);
            this.$f7.panel.open('right');
        },
        onExitMap() {
            clearInterval(this.timerId);
        }
    },
    computed: mapState(['mapMenuItems'])
};
</script>
